.app-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px 20px 10px 20px;
}

.app-income {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.app-expense {
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.app-savings {
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.app-purchase {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
}

.app-investment {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
}

.app-summary {
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #f8f9fa;
    border-top: 1px solid #ddd;
}

a{
    text-decoration: none;
    color: #636e7a;
}

.p-cinza {
    color: #6c757d;
}